@mixin buttonWrap {
  background-color: $greenLigth;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  transition: background-color $transitionActions, transform $transitionActions;
  &:hover {
    background-color: $greenMiddle;
    transform: $scaleActions;
    cursor: pointer;
  }
}

// heading

@mixin headingH1 {
  color: $baseColor;
  font-size: 10.4rem;
  font-weight: 900;
  line-height: 1;
}

@mixin headingH2 {
  color: $baseColor;
  font-size: 4.8rem;
  font-weight: 600;
}

@mixin headingH3 {
  color: $baseColor;
  font-size: 3.2rem;
  font-weight: 400;
}

@mixin headingH4 {
  color: $baseColor;
  font-size: 2rem;
  font-weight: 600;
}

// text

@mixin textNormal {
  color: $baseColor;
  font-size: 1.6rem;
  font-weight: 500;
}